<h1 mat-dialog-title>For ROOM {{data.room.title}}</h1>
<div mat-dialog-content>
  <p>Please choose the time slot to book</p>
  <mat-form-field>

    <mat-select placeholder="Select">
      <mat-option *ngFor="let booking of data.bookings" disabled="true" value="option">{{booking.slotId}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>OK</button>
</div>
